<%= form_for([@post, @post.comments.build], url: user_post_comments_path(@post.user, @post)) do |f| %>
    <div class="comment-form">
      <div class="field">
        <%= f.label :text %>
        <%= f.text_area :text %>
      </div>
  
      <%= f.submit "Create Comment", class: "btn btn-primary" %>
    </div>
  <% end %>
  