<li class="list-group-item">
  <h3 class="post-title"><%= post.title %></h3>
  <p class="post-text"><%= post.text %></p>
  
  <div class="post-info">
    <span class="comment-count"><%= post.comment_counter %> Comments</span>
    <span class="likes-count"><%= post.like_counter %> Likes</span>
  </div>
</li>
